<div class="olcg-character-generator">
    <form class="form" novalidate>
        <div class="form-inline">
            <div class="form-group col-md-6">
                <label>Player Name:
                    <input class="form-control" type="text" />
                </label>
            </div>
            <div class="form-group col-md-6">
                <label>Character Name:
                    <input class="form-control" type="text" />
                </label>
            </div>
        </div>
        <div class="form-group col-xs-12">
            <label>Level:
                <input class="form-control" type="number" min="1" max="10" ng-model="charGen.character.level" ng-change="charGen.setExpByLev()" />
            </label>
            <label>Experience
                <input class="form-control" type="number" min="0" ng-model="charGen.character.experience" ng-change="charGen.setLevByExp()" />
            </label> {{charGen.character.attributePoints}}
        </div>
        <ng-include src="'app/components/olcg.character.generator/attributes/olcg.character.attributes.html'"></ng-include>
        <ng-include src="'app/components/olcg.character.generator/feats/olcg.character.feats.html'"></ng-include>
    </form>
</div>
